<footer class="footer">
  <div class="container footer__content">
    <a href="{{ "/" | relative_url }}" rel="home" class="branding">
      <img src="{{ "/assets/logo.svg" | relative_url }}" class="branding__logo" alt="Home">
      <span class="branding__name">{{ site.title | escape }}</span>
    </a>

    <p class="footer__copyright">Development by <a
      href="https://github.com/{{ site.github_username | cgi_escape | escape }}"
      rel="noopener noreferrer" target="_blank">@{{ site.github_username | cgi_escape | escape }}</a>
    </p>
  </div>
</footer>
