{%- assign input = include.input -%}
{%- assign id = input.name | append: '-form-item' -%}

{%- if input.type == "text" -%}
  <div class="form-item form-type-textfield">
    <label for="{{ id }}" {%- if input.required == "required" -%}class="form-required"{%- endif -%}>{{ input.label }}</label>

    {%- assign classes = 'form-text' -%}
    {%- if input.required == "required" -%}
      {%- assign classes = classes | append: ' validate[required]' -%}
    {%- endif -%}
    <input class="{{ classes }}" type="text" id="{{ id }}" name="{{ input.name }}" value=""
      {%- if input.required == "required" -%}required="required" aria-required="true"{%- endif -%}>
  </div>
{%- endif -%}

{%- if input.type == "email" -%}
  <div class="form-item form-type-email">
    <label for="{{ id }}" {%- if input.required == "required" -%}class="form-required"{%- endif -%}>{{ input.label }}</label>

    {%- assign classes = 'form-email' -%}
    {%- if input.required == "required" -%}
      {%- assign classes = classes | append: ' validate[required,custom[email]]' -%}
    {%- endif -%}
    <input class="{{ classes }}" type="email" id="{{ id }}" name="{{ input.name }}" value=""
      {%- if input.required == "required" -%}required="required" aria-required="true"{%- endif -%}>
  </div>
{%- endif -%}

{%- if input.type == "textarea" -%}
  <div class="form-item form-type-textarea">
    <label for="{{ id }}" {%- if input.required == "required" -%}class="form-required"{%- endif -%}>{{ input.label }}</label>

    {%- assign classes = 'form-textarea' -%}
    {%- if input.required == "required" -%}
      {%- assign classes = classes | append: ' validate[required]' -%}
    {%- endif -%}
    <textarea rows="5" class="{{ classes }}" type="textarea" id="{{ id }}"
      {%- if input.required == "required" -%}required="required" aria-required="true"{%- endif -%}
      name="{{ input.name }}"></textarea>
  </div>
{%- endif -%}

{%- if input.type == "submit" -%}
  <div class="form-item form-type-submit">
    <input type="submit" id="edit-submit" name="{{ input.name }}"
      value="{{ input.value }}" class="button button--primary">
  </div>
{%- endif -%}
